article{
	display: block;
}

body{
  font-size:medium;
  font-family:  Cambria, Cochin, Georgia, Times, "Times New Roman", serif; 
  margin:0px;
}

header.SiteHeader{
  padding-top: 5px;
  padding-bottom: 2px;
  background:#FFE4E1;
  width: 1000px;
  margin-left:150px;
  border:thick #F5FFFA solid;
}


header img{
 margin-left: 150px;
}

.Content {
  	margin-left: 150px;
  	padding: 20px;
	max-width:1000px;
	min-width: 400px;
}

.Content .LeadIn {
	font-weight: bold;
	font-size: large;
	font-variant: small-caps;
}

.Content p {
	margin-top: 5px;
}

header.ArticleHeader {
   font-family:  Cambria, Cochin, Georgia, Times, "Times New Roman", serif;   
   font-size: x-large;	
	padding: 10px;
	margin: 10px;
	text-align: center;
}

header.ArticleHeader .Byline {
	font-style: italic;
	font-size: medium;
	margin: 0px;
}

#FatFooter{
  position: fixed;
  bottom: 0px;
  height: 164px;
  width: 100%;
  background: #ECD672;
  border-top: thin solid black;
  font-size: medium;
}

#FatFooter img.CloseButton{
  float: right;
  margin: 4px;
  cursor: pointer;
}
  
#FatFooter div.FloatBox {
  float: left;
  padding: 2px ;
} 

#FatFooter div.FloatBox span{
  font-style: italic;
  font-size: small;
}

#FatFooter footer {
 
  text-align: right;
  font-size: medium;
  clear:right;
  
}